@import url('nav.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-img {
    /* The image used */
    background-image: url("../img/background.jpg");
  
    height: 80vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
